/* Temas del segundo período*/

.texto{
   
    font-size: 25px;
    padding-top: 70px;
    text-align: Aldine;
    color: rgb(20, 20, 20);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("fondo\ bb.jpeg");
    

}